<template name="banned">
    <div id="content">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="error-page">
          <div class="box">
	    <p class="text-center">
              <a href="/">
                <img src="/img/logo.png" alt="Obaju template">
              </a>
            </p>
            <h3>{{t "You are banned from the Marketplace, please, contact admin to resolve."}}</h3>
          </div>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
</template>
