<template name="unverified">
    <div id="content">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="error-page">
          <div class="box">
            <h3>{{t "Please, verify your e-mail first."}}</h3>
            <h4>{{t "You may change your e-mail in "}}<a href="/user/{{currentUser.username}}/edit">{{t "PROFILE"}}</a></h4>
          </div>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
</template>
