<template name="addStripe">
    <div id="content">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="error-page">
          <div class="box">
            <h3>{{t "To create new listing, please, add Stripe account in"}} 
	      {{#if isInRole 'admin'}}
	      {{#if mainStripe}}
	      <a href="/user/{{currentUser.username}}/edit">{{t "PROFILE"}}</a>
	      {{else}}
	      <a href="/admin/payments">{{t "ADMIN - payments"}}</a>
	      {{/if}}
	      {{else}}
	      <a href="/user/{{currentUser.username}}/edit">{{t "PROFILE"}}</a>
	      {{/if}}
	      {{t "first."}}
	    </h3>
          </div>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
</template>
