<template name="banned">
    <div id="content">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="error-page">
          <div class="box">
            <h3>{{t "You are banned from the Marketplace, please, contact admin to resolve."}}</h3>
            <p class="buttons"><a href="{{pathFor 'contact'}}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> {{t "Go to contact page"}}</a>
            </p>
            <br>
           </div>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
</template>
